<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html"; charset="utf-8" http-equiv="content-type" />
        <title></title>
    </head>
    <body>
        <h1>Correo </h1>
        <p> Ejemplo de email</p>
    </body>
</html>