<%= div_for comment do %>
<p>

    <strong class="etiqueta"> Posted <%= time_ago_in_words(comment.created_at) %>
        
    </strong><br/>
    <%= comment.body%>

    <strong>
        Posted 
        <%= time_ago_in_words(comment.created_at)%>
    </strong>
    <br/>
    <%= comment.body %>

</p>
<% end %>