<div class="row">
    <div class="small-6 columns">
<h2 class="encabezado">Log in Usuario</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
      <%= f.label :email, :class => "label1" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
      <%= f.label :password, :class => "label1" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
      <%= f.submit "Log in", :class => 'button small round' %>
  </div>
<% end %>
        
    </div>
</div>
