<div class="row">
    <div class="small-6 columns">
        <h2 class="encabezado">Sign up Admin</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
        </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        

          <div class="actions">
            <%= f.submit "Sign up", :class => 'button small round' %>
          </div>
        <% end %>

        <%= render "admins/shared/links" %>
    </div>
</div>
