
<%= form_for(@post, html: {multipart: true}) do |f| %>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class=" field small-10 columns">
            <%= f.label :titulo %><br>
        <%= f.text_field :tittle, :class => "validate[required]" %>
               
        <% categoria ={
    "Educación" => "Educación",
    "Deportes" => "Deportes",
    "Espectaculos" => "Espectaculos",
    "Alimentos" => "Alimentos",
    "Cultura" => "Cultura",
        }%>
        <%= f.label :categoria%> <br>
        <%= f.select :categoria, categoria, :class => "validate[required]"%>
        <%= f.label :contenido %><br>
        <%= f.text_area :body, :class => "validate[required]" %> 
        <!--Etiqueta de las fotos-->
        <%= f.label :foto %>
        <%= f.file_field :photo %>
    </div>
</div>

<div class="row">
    <div class="small-5 columns">
        <div class="actions">
            <%= f.submit 'Aceptar', :class => 'button small round' %>     
            <br/>
            <%= link_to 'Back', posts_path %>
        </div>
    </div>
</div>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
