<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1 class="titulo">BLOG</h1>
        </li>
    </ul>
    <section class="top-bar-section" id="barra">
        <ul class="left">
            <li class="has-dropdown not-click"><a href="#"> Opciones</a>
                <ul class="dropdown">
                    <li class="parent-link show-for-small-only">
                        <a class="parent-link js-generated" href="#"></a>
                    </li>
                    <li>
                        <label> Posts </label>
                    </li>
                    <li class="link">
                        <%= link_to 'Ver', controller: '/posts', action:'index'%>
                    </li>
                    <% if user_signed_in? %>
                    <li class="link">
                        <%= link_to 'Nuevo', controller: '/posts', action:'new'%>
                    </li>
                    <%end%>
                </ul>
            </li>
            
        </ul>
    <!-- Seccion Derecha -->
        
        
        <ul class="right">
	 	<% if user_signed_in? %>
            <li> <img src="/photo/<%= current_user.id%>.<%=current_user.extension_user%>" width="35px" height="35px" /></li>
	 	<li class="usuario"> Bienvenido(a) <strong> <%= current_user.email   %></strong></a></li>
    
    <li> <%= link_to 'Editarr Perfil', edit_user_registration_path , :class => 'navbar-link'%> </li>
    <li> <%= link_to "Cerrar Sesion ",destroy_user_session_path ,method: :delete,:class => 'navbar-link'%>
	 	</li>

	 	<% elsif admin_signed_in? %>
 <li> <img src="/photo/<%= current_admin.id%>.<%=current_admin.extension_user%>" width="35px" height="35px" /></li>
	 		<li class="usuario"> Bienvenido(a) <strong> <%= current_admin.email   %></strong></a></li>
<li> <%= link_to 'Editar Perfil', edit_admin_registration_path , :class => 'navbar-link'%> </li>
<li> <%= link_to "Cerrar Sesion ",destroy_admin_session_path ,method: :delete,:class => 'navbar-link'%>
	 	</li>
	 		

	 	<% else %>
	 	<li><%= link_to "Sing up",new_user_registration_path  ,:class=> 'navbar-link'%></li>
	 	<li><%= link_to "Login",new_user_session_path ,:class => 'navbar-link' %></li>
	 	<% end %>

	 </ul>
    </section>
</nav>