
<div class="row">
    <div class="small-5 columns">
        <h1>Editar Post</h1>
    </div>
</div>

<%= render 'form' %>


<h1>Editing Post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
