
<div class="row">
    <div class="small-12 columns">
        <h1>Lista de Post</h1>
        <br/>
        <table>
  <thead>
    <tr>
      <th class="etiqueta1">Titulo</th>
      <th class="etiqueta1">Categoria</th>        
      <th class="etiqueta1">Contenido</th>
        <th class="etiqueta1">Imagen</th>
        <% if admin_signed_in?%>
      <th class="etiqueta1">Usuario</th>
        <%end%>
      <th class="etiqueta" colspan="3"> Opciones</th>

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>

       
        <td class="contenido"><%= post.tittle %></td>
          <td class="contenido"><%= post.categoria%></td>
        <td class="contenido">
        	<% if post.body %>
        	<a href="#" data-reveal-id="body-<%=post.id%>">Ver</a>
        	<div id="body-<%=post.id%>" class="reveal-modal" data-reveal>
        	<%= post.body %>
        	<a class="close-reveal-modal">&#215;</a>
        	</div>

        	<% end %>
        </td>
          <td class="contenido">
              <img src="/photo_store/<%= post.id%>.<%=post.extension%>" width="30px" height="30px" />
          </td>
          <% if admin_signed_in?%>
          <td class="contenido"> 
            <div>          
              <%= User.find(post.user_id).email %>                
            </div>
          </td>
          <%end%>
          
          <td class="contenido"><%= link_to 'Comentar', post %></td>
        <td class="contenido"><%= link_to 'Editar', edit_post_path(post) %></td> 
        <td class="contenido"><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         
          
          
          

        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

        <% if user_signed_in? %>
            <%= link_to 'New Post', new_post_path %>
        <% end %>
    </div>
</div>
<br>


<br>

<%= link_to 'New Post', new_post_path %>
