
<div class="row">
    <div class="medium-8 columns">
        <h1>Nuevo Post</h1>
        
<%= render 'form' %>
    </div>
</div>


<h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
