
<div class="row">
    <div class="small-10 columns">
        <br>
        <p>
            <strong class="etiqueta">Titulo:</strong>
            <%= @post.tittle %>
        </p>
        <p >
            <strong class="etiqueta">Categoria:</strong>
            <%= @post.categoria %>
        </p>

        <p>
            <strong class="etiqueta">Contenido:</strong>
            <%= @post.body %>
        </p>
        <p>
            
            <strong class="etiqueta">Imagen:</strong>
            <div class="imagen">
                <%=image_tag @post.photo_path %>
            </div>
        </p>
        
    </div>
</div>
<div class="row">
    <div class="small-8 columns">
        
<div id="comments">
 <%= render :partial => @post.comments.reverse %>
</div>
<%= form_for([@post, Comment.new], remote:true) do |f|%>
<p>
    <%= f.label :body, "Nuevo Comentario"%>
    <br/>
    <%= f.text_area :body%>
</p>
<p>
    <%= f.submit "Agregar Comentario", :class => 'button small round'%>
</p>
<%end%>
        
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
    </div>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div id="comments">
    <%= render :partial => @post.comments.reverse %>
</div>
<%= form_for([@post, Comment.new]remote: true) do|f| %>
<p>
    <%= f.label :body, "New Comment" %> <br/>    
    <%= f.text_area :body%> 
</p>
<p><%= f.submit "Add Comment"%></p>
<%end %>