body {
  background-color: #fff;
  color: #333;

  font-family: Century Gothic;

  font-family: verdana, arial, helvetica, sans-serif;

  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: Century Gothic;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;

      background-color:rgba(10, 145, 114, 0.74);
   
  }
}

.top-bar{
    background-color: rgba(2, 101, 78, 0.75);
    font-family: Century Gothic;
    
}
.top-bar-section ul li{
    background-color: rgba(10, 145, 114, 0.74);
    color: white;
}
.titulo{
    color: #fff;
    margin-right: 20%;
    font-family: Century Gothic;
}
.top-bar-section li:not(.has-form) a:not(.button){
    background-color:rgba(20, 129, 104, 0.74);
    font-family: Century Gothic;
}

.dropdown.top-bar-section ul li{
    background-color:rgba(2, 101, 78, 0.75);
    font-family: Century Gothic;
}

// Log in

.encabezado{
    margin-top: 25%;
    color: rgba(2, 101, 78, 0.75);
    text-align: center;
    font-family: Century Gothic;
}
.field1{
    border-radius: 10%;
    font-family: Century Gothic;
}
.label1{
    font-family: Century Gothic;
    font-size: 130%;
}
.button{
    font-family: Century Gothic;
    background-color: rgba(2, 101, 78, 0.75);
}

.usuario{
    background-color:rgba(2, 101, 78, 0.75);
}

h1{
    margin-top: 5%;
    color: rgba(2, 101, 78, 0.75);
    text-align: center;
    font-family: Century Gothic;
}
label{
   color: rgba(2, 101, 78, 0.75);
    font-family: Century Gothic;
    font-size: 150%; 
}
.etiqueta{
    color: rgba(20, 115, 123, 0.75);
    font-family: Century Gothic;
    font-size: 135%;
}
.etiqueta1{
    color: rgba(20, 115, 123, 0.75);
    font-family: Century Gothic;
    font-size: 135%;
    text-align: center
}
.contenido{
    font-size: 120%;
    color: #15304b;
}
.imagen{
    width: 100%;
    height: 100%;
}
  
