<div class="row">
    <div class="small-10 columns">
<h1>Editar <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
      <%= f.label :contraseña %> <i>(Deja en blanco si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
      <%= f.label :confirma_tu_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
      <%= f.label :contraseña_actual %> <i>(Introduce tu contraseña actual para guardar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
    <div class="field">
        <%= f.label :seleciona_una_foto_de_perfil %>
        <%= f.file_field :photo %>
  </div>

  <div class="actions">
      <%= f.submit "Guardar", :class => 'button small round'%>
  </div>
<% end %>
<%= link_to "Back", :back %>
    </div>
</div>